.contact-form {
    display: flex;
    flex-flow: column;
}

label {
    color: rgba(180, 164, 95, 1);
    width: max-content;
}
input, textarea {
    display: block;
    margin: 20% auto;
    border: 1px solid rgba(180, 164, 95, 1);
    background-color: rgba(180, 164, 95, 0.171);
    color: rgba(180, 164, 95, 1);
    text-align: left;
    font-size: 16px;
    border-radius: 0;
    width: 70%;
    height: 50px;
    padding: 4%;
    padding-left: 2%;
    resize: none;
}

::placeholder {
    color: rgba(180, 164, 95, 0.74);
    margin-left: 20px;
}

.submit {
    background-color:rgba(180, 164, 95, 1);
    padding: 4% 10%;
    font-size: 15px;
    margin-bottom: 10%;
}

@media screen and (min-width: 768px) {
    input, textarea {
        padding: 2%;
        width: 60%;
        height: 100%;
        margin: 5% auto;
        text-align: left;
    }

    .submit {
        padding: 2% 8%;
        margin: 5% auto;
    }
}