.contact-form {
    display: flex;
    flex-flow: column;
}

label {
    color: rgba(180, 164, 95, 1);
    width: max-content;
}
input {
    display: block;
    margin: 20% auto;
    border: 1px solid rgba(180, 164, 95, 1);
    background-color: rgba(180, 164, 95, 0.171);
    
    text-align: left;
    font-size: 20px;
    border-radius: 0;
    width: 70%;
    height: 40px;
}

label {
    color: rgba(180, 164, 95, 1);
}

.submit {
    background-color:rgba(180, 164, 95, 1);
    padding: 4% 10%;
    font-size: 15px;
    margin-bottom: 10%;
}

@media screen and (min-width: 768px) {
    input {
        padding: 2%;
        width: 50%;
        height: 100%;
        margin: 5% auto;
        text-align: center;
    }

    .submit {
        padding: 2% 8%;
        margin: 5% auto;
    }
}