.home-main-container {
    color: rgba(180, 164, 95, 1);

}

.about {
    font-size: 15px;
    line-height: 25px;
    margin: 10% 8%;
}

@media screen and (min-width: 768px) {
    .about {
        font-size: 20px;
    }
}