h3 {
    color: rgba(232, 208, 117, 1);
    font-size: 30px;
}

.services-btn {
    display: block;
    color: rgba(232, 208, 117, 1);
    margin: 10% auto;
    font-size: 18px;
    border: 1px solid white;
    background-color: transparent;
    padding: 5%;
    filter: drop-shadow(2px 2px 5px);
    box-shadow: 2px 1px 2px rgba(232, 208, 117, 1);

}

.service-description0, .service-description1, .service-description2, .service-description3, .service-description4, .service-description5, .service-description6, .service-description7, .service-description8 {
    color: rgba(232, 208, 117, 1);
}

.no-display0, .no-display1, .no-display2, .no-display3, .no-display4, .no-display5, .no-display6, .no-display7, .no-display8 {
    display: none;

}

.service-description {
    color: rgba(232, 208, 117, 1);

}
.no-display {
    display: none;

}