.header-main-container, .left-header {
    display: flex;
    flex-direction: column;
}

.left-header {
    align-content: space-around;
}
.mainlogo {
    width: 20%;
    margin: 10% auto;
}

.home-link {
    font-family: 'Abril Fatface', cursive;
    color: rgba(232, 208, 117, 1);
    letter-spacing: 3px;
    font-size: 24px;
    text-decoration: none;
    margin-bottom: 10%;
    z-index: 1;
    filter: drop-shadow(2px 2px 5px);
    
}
