.header-main-container, .left-header {
    display: flex;
    flex-direction: column;
}

.left-header {
    align-content: space-around;
}
.mainlogo {
    width: 90%;
    margin: 15% auto 3% auto;
}

.home-link {
    font-family: 'Abril Fatface', cursive;
    color: rgba(180, 164, 95, 1);
    letter-spacing: 3px;
    font-size: 24px;
    text-decoration: none;
    margin-top: 20%;
    z-index: 1;
    border: none;
    /* filter: drop-shadow(2px 2px 5px); */
    
}
