.nav-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:20%;
}

.nav {
    color: rgba(180, 164, 95, 1);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 15px;
    margin: 10% auto;
    background-color: transparent;
    border: none;
}

.btn {
    border: none;    background-color: transparent;
    width: 30%;
    margin-top: 5%;
    margin-left: 70%;

}

.menu {
    width: 50%;
}

.close-menu {
    background-color: transparent;
    color: rgba(180, 164, 95, 1);
    width: 80%;
    height: 40%;
    font-size: 20px;
    padding: 5%;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .menu, .nav-main-container {
        display: none;
    }

    .nav {
        width: max-content;
        padding: 0 0;
        margin: auto;
        z-index: 20;
    }
}