.nav-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:20%;
}

.nav {
    color: rgba(232, 208, 117, 1);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 15px;
    margin: 10% auto;
    background-color: transparent;
    border: none;
}


.btn {
    border: 1px solid red;
    background-color: transparent;
    width: 30%;
    margin-right: 70%;
}
.menu {
    width: 50%;
}

.close-menu {
    background-color: transparent;
    color: rgba(232, 208, 117, 1);
    width: 80%;
    height: 40%;
    font-size: 20px;
    padding: 5%;
}