.main {
    background-color: rgba(0, 0, 0, 0.918);
    margin: 0;
    overflow-y: hidden;
}

p {
    color: rgba(180, 164, 95, 1);
    font-family: "Rosario", sans-serif;
}

hr {
    border-color: rgba(180, 164, 95, 1);

}

button, input, label {
    font-family: "Rosario", sans-serif;

}